<div class="container">
    <div class="left-section">
        <!-- Content for the left section -->
        <div [ngClass]="{'dummy-container' : isRotating}">
            <form [formGroup]="codeForm" (ngSubmit)="placeSensors()" class="control-form flex-center">
                <p><mat-form-field appearance="fill">
                        <mat-label>ATD String</mat-label>

                        <input matInput placeholder="Ex. GGGGGRYRG" [formControlName]="'atdString'" required
                            maxlength="9">

                        @if(codeForm.get('atdString').hasError('required')){
                        <mat-error>
                            This field is required.
                        </mat-error>
                        }
                        @if(codeForm.get('atdString').hasError('pattern')){
                        <mat-error>
                            Invalid format. Please enter a 9-character string using only G, R, and Y.
                        </mat-error>
                        }

                    </mat-form-field></p>
                <p><mat-slide-toggle (click)="toggleRotation()" class="rotation-toggle">Toggle
                        Rotation</mat-slide-toggle></p>
                <button mat-flat-button (click)="placeSensors()" [disabled]="codeForm.invalid">Place Sensors</button>

            </form>


            <svg class="atd-svg" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg">

                <!-- Stick figure lines -->
                @for (line of lines; track line) {
                <line [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="black"
                    stroke-width="2" />
                }

                <!-- Head (circle around sensor 1 and 2) -->
                <circle [attr.cx]="130" [attr.cy]="45" r="30" stroke="black" fill="none" stroke-width="2" />

                <!-- Sensor circles -->
                @for (sensor of sensors; track sensor) {
                <circle [attr.cx]="sensor.x" [attr.cy]="sensor.y" r="8" [attr.fill]="getColor(status[$index])"
                    [matTooltip]="sensor.tooltip" stroke="black" stroke-width="2" />
                <text [attr.x]="sensor.x" [attr.y]="sensor.y + 5" font-size="12" text-anchor="middle" fill="black"
                    [matTooltip]="sensor.tooltip">
                    {{ $index + 1 }}
                </text>
                }


            </svg>
        </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div class="right-section">
        <!-- Content for the right section -->
        <div>
            <!-- Time Range Selector -->
            <mat-form-field appearance="fill">
                <mat-label>Time Range</mat-label>
                <mat-select [(ngModel)]="selectedTimeRange" (selectionChange)="onTimeRangeChange()">
                    @for (key of timeRanges | keyvalue; track $index) {
                    <mat-option [value]="key.key">
                        {{ key.key }}
                    </mat-option>
                    }

                </mat-select>
            </mat-form-field>

            <!-- Sensor Selector -->
            <mat-form-field appearance="fill" class="sensor-selector">
                <mat-label>Select Sensors</mat-label>
                <mat-select multiple [(ngModel)]="selectedSensors" (selectionChange)="onSensorSelectionChange()">
                    @for (sensor of sensorsAvailable; track $index) {
                    <mat-option [value]="sensor">
                        {{ sensor }}
                    </mat-option>
                    }


                </mat-select>
            </mat-form-field>
        </div>


        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
            style="width: 100%; height: 500px; display: block;"></highcharts-chart>



    </div>
</div>