/* Reset default margin and padding */
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

/* Ensure html and body take full height */
// html,
// body {
//     height: 100vh;
// }


.sensor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border: 2px solid black;
}


.atd-svg {
    height: 80vh;
    /* 80% of viewport height */
    width: auto;
    /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.dummy-container {
    margin: auto;
    perspective: 1000px;
    /* Creates a 3D space for the child element */
}

.dummy-container svg {
    width: 100%;
    transform-style: preserve-3d;
    animation: rotateDummy 5s infinite linear;
}

@keyframes rotateDummy {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}


/* Container to hold both sections */
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* 100% of the viewport height */
}

/* Left and right sections each take up 50% of the container */
.left-section,
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Background colors for distinction */
.left-section {
    background-color: #f2f2f2;
    /* Light gray */
}

.right-section {
    background-color: #4CAF50;
    /* Green */
    color: white;
}